<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face detection demo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css" media="screen">
      .starter-template{
        background: #DAD6D6;
        margin: 0px 0px 30px;
        border: solid 1px #e6e6e6;
        box-sizing: border-box;
        padding-left: 20px;
        box-shadow: 0px 2px 5px rgba(0,0,0,.3);
      }
      body{
        background-image: linear-gradient(to right, #93278F , #00A99D);
      }
  </style>

</head>

<body >

<div class = "container">
    <div class = "starter-template" >
        <h1>Đồ án nhận diện khuôn mặt</h1>
    </div>

    <table class="table ">
        <h2>Thành viên nhóm:</h2>
        <thead>
            <tr>
                <th>#</th>
                <th>Họ và tên</th>
                <th>MSSV</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td >Phạm Tuấn Phương</td>
                <td>15520666</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td >Nguyễn Hoàng Phúc</td>
                <td>15520644</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td >Nguyễn Khánh Toàn</td>
                <td>15520902</td>
            </tr>
        </tbody>
    </table>

</div>

<header class="navbar">
    <form action="/upload" method="post" enctype="multipart/form-data" class="md-form" >
        <div align="center">
            <label class="btn btn-default btn-file">
                <i class="fa fa-file-image-o">
                Browse <input type="file" name="image" style="display: none;">
                </i>
            </label>
            <input type="submit" value="Nhận diện hình ảnh" class="btn btn-primary" >
        </div>
    </form>


</header>


<div class="text-center">""
    {% if init %}
        {% if faceDetected %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>Vâng!</strong> Đã nhận diện xong!
            </div>
            {% if name=='Unknown' %}
                  <div>
                     <h3>Không xác định được danh tính </h3>
                  </div>
                {% else %}
                  <div>
                     <strong>Đây là </strong>{{name}}
                  </div>
                {% endif %}
            {% if image_to_show %}
                <div>
                    <img src="{{image_to_show}}" alt="result"  width="360px" heigth="419px">
                </div>
            {% endif %}

        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>Không!</strong> Không nhận diện được
            </div>
        {% endif %}
    {% endif %}
</div>
</body>
</html>
